{{ define "main" }} 

{{ range .Data.Pages.GroupByDate "2006"}}
<section class="post page archives">
  <h3 class="archive-year-wrap">
    <a class="archive-year"> {{ .Key }} </a>
  </h3>

  {{ range .Pages }}
  <div class="archives">
    <div class="archive">
      <a class="post-go" href="{{ .Permalink }}">
        <div>
          <span class="date"> {{ .Date.Format "01-02" }} </span>
          <span class="slash">/</span> {{ .Title }}
        </div>
      </a>
    </div>
  {{ end }}
</section>
{{ end }} 

{{ end }}
