{{ define "main" }} 
<article class="post page" id="page">
  <div class="post-content">
    <ul class="tag-list" style="text-align: inherit;">
 {{ range $name, $items := .Site.Taxonomies.categories }}
      <li class="tag-list-item">
        <a class="tag-list-link" href="{{ printf "%s/%s" "categories" ($name | urlize | lower) | absURL }}">{{ $name | humanize | title }} ({{ len $items }})</a>
      </li>
    {{ end }}

    </ul>
  </div>
</article>

{{ range .Data.Pages.GroupByDate "2006"}}
<section class="post page archives">
  <h3 class="archive-year-wrap">
    <a class="archive-year"> {{ .Key }} </a>
  </h3>

  {{ range .Pages }}
  <div class="archives">
    <div class="archive">
      <a class="post-go" href="{{ .Permalink }}">
        <div>
          <span class="date"> {{ .Date.Format "01-02" }} </span>
          <span class="slash">/</span> {{ .Title }}
        </div>
      </a>
    </div>
  {{ end }}
</section>
{{ end }} 

{{ end }}
