{{ partial "header.html" . }}
<div class="post-container">
  <article class="post" id="post">
    <header class="post-header text-center">
      <h1 class="title">{{ .Title }}</h1>
      <span>
        <time class="time" datetime="{{ .Date }}">
          {{ .Date.Format "2006-1-2" }}

        </time>
      </span>
      <span class="slash">/</span>
      <span class="post-meta">
      <span class="post-tags">
        <ul class="article-tag-list">
 {{ range .Params.tags }}
    <li class="article-tag-list-item"><a class="article-tag-list-link" href="{{ "/tags/" | relLangURL }}{{ . | urlize}}">{{ . }}</a></li>
    {{ end }}
    </ul>
    </span>
      </span>
      <span class="slash">/</span>
      <span class="read">
      <span id="busuanzi_value_page_pv"> </span> 次阅读
      </span>
      <span class="slash">/</span>
      <span class="read">阅读耗时 {{ .ReadingTime }} 分钟</span>
    </header>

    <div class="post-content">
      {{ .Content }}
    </div>
  </article>

  <div class="toc-container">
    

  <div id="toc" class="toc-article">
    <strong class="toc-title">目录</strong>
    <ol class="toc"><li class="toc-item toc-level-1"><a class="toc-link" href="#安装"><span class="toc-text">安装</span></a><ol class="toc-child"><li class="toc-item toc-level-2"><a class="toc-link" href="#配置编辑器"><span class="toc-text">配置编辑器</span></a></li><li class="toc-item toc-level-2"><a class="toc-link" href="#命令行工具"><span class="toc-text">命令行工具</span></a><ol class="toc-child"><li class="toc-item toc-level-3"><a class="toc-link" href="#elm-repl"><span class="toc-text">elm-repl</span></a></li><li class="toc-item toc-level-3"><a class="toc-link" href="#elm-reactor"><span class="toc-text">elm-reactor</span></a></li></ol></li><li class="toc-item toc-level-2"><a class="toc-link" href="#elm-make"><span class="toc-text">elm-make</span></a><ol class="toc-child"><li class="toc-item toc-level-3"><a class="toc-link" href="#elm-package"><span class="toc-text">elm-package</span></a></li></ol></li></ol></li></ol>
  </div>


  </div>

</div>

{{ partial "widgets/nav-page.html" . }}
{{ partial "widgets/disqus.html" . }}
{{ partial "widgets/gitalk.html" . }}
</div>
</div>

{{ partial "footer.html" . }}
