{{ define "main" }}

<article class="post page" id="page">
  <header class="post-header text-center"> {{ .Title }} </header>
  <div class="post-content">
    <ul class="tag-list">
    {{ $data := .Data }} 
    {{ range $key, $value := .Data.Terms.ByCount }}

      <li class="tag-list-item">
        <a class="tag-list-link" href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name | title }}</a>
        <span class="tag-list-count">{{ $value.Count }}</span>
      </li>
    {{ end }}
    </ul>
  </div>
</article>

{{ end }}
